@import '../base/include';

.popStoryListContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.inner {
  position: relative;
  width: 100%;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  padding: 0;
  @include tablet {
    max-width: calc(100% - $p-tablet);
  }
  @include mobile {
    max-width: calc(100% - $p-mobile);
  }
}
.popStoryListTit {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  @include tabletMore {
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 100px;
  }
  h3 {
    font-weight: lighter;
    font-size: 18px;
    @include tablet {
      font-size: 20px;
    }
    @include tabletMore {
      font-size: 40px;
    }
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    @include tablet {
      font-size: 32px;
    }
    @include tabletMore {
      font-size: 69px;
    }
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(1);
  padding: 18px 0 120px 0;

  @include mobileMore {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 150px;
  }
  @include tabletMore {
    padding-bottom: 200px;
  }
}
.moreBtn {
  position: relative;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -120%);
  width: 120px;
  margin: 0 auto;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  background-color: #ff8c8c;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  @include tablet {
    width: 150px;
    font-size: 16px;
    padding: 10px 10px;
    border-radius: 16px;
    transform: translate(-50%, -100%);
  }
  @include tabletMore {
    width: 180px;
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 18px;
    border: 3px solid black;
    transform: translate(-50%, -180%);
  }
  &:hover {
    color: white;
    background-color: $point;
  }
}
.link {
  display: block;
  width: 100%;
  height: 100%;
}

.grid-item {
  overflow: hidden;
  border: 1px solid black;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s ease-in-out;

  @include tablet {
    height: 500px;
    padding: 40px;
  }
  @include tabletMore {
    height: 700px;
    padding: 100px;
  }
  img {
    width: 100%;
    height: 100%;
    @include tablet {
      max-width: 240px;
      max-height: 350px;
    }
    @include tabletMore {
      max-width: 330px;
      max-height: 650px;
    }
  }
  .textarea {
    margin-bottom: 5px;
    text-align: center;
    @include mobileMore {
      margin-bottom: 10px;
    }
  }
  & h3 {
    font-weight: normal;
    font-size: 24px;
    @include tablet {
      font-size: 28px;
    }
    @include tabletMore {
      font-size: 40px;
    }
  }
  & p {
    font-weight: lighter;
    font-size: 14px;
    @include mobileMore {
      font-size: 16px;
    }
    @include tabletMore {
      font-size: 20px;
    }
  }
  @include tabletMore {
    &::after {
      content: '';
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--hover-bg);
      transition: top 0.5s ease-in-out;
      z-index: -1;
    }
    &.hover-effect::after {
      top: 0;
    }

    &.remove-effect::after {
      top: -100%;
    }
    &.hover-effect img {
      // translate(0, -10%)
      transform: scale(1.1) scaleX(1.3);
      transition: ease-in-out 0.5s;
    }

    &.hover-effect .textarea {
      position: absolute;
      z-index: 1;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: white;
      text-shadow: 2px 2px 4px rgba(255, 0, 0, 1);
      transform: scale(1.5);
      transition: opacity 0.3s ease, color 0.3s ease, border 0.3s ease;
      p {
        display: none;
      }
    }
  }

  .cartPreview {
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(-50%, -170%);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include tablet {
      transform: translate(-50%, -170%);
      width: 70px;
      height: 70px;
    }
    @include tabletMore {
      transform: translate(-50%, -170%);
      width: 90px;
      height: 90px;
    }
  }
  .scroll-up {
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include tablet {
      width: 70px;
      height: 70px;
    }
    @include tabletMore {
      width: 90px;
      height: 90px;
    }
  }
}
