@import '../base/include';

// body {
//     background-color: var(--white);
// }

// .inner {
//     position: relative;
//     width: 100%;
//     max-width: $grid;
//     margin: 0 auto;
//     padding: 0;
// }

.inner {
    position: relative;
    width: 100%;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    padding: 0;
    @include tablet {
        max-width: calc(100% - $p-tablet);
    }
    @include mobile {
        max-width: calc(100% - $p-mobile);
    }
}

// productList.html 시작
.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 50px;

    @include tablet {
        flex-direction: column;
    }

    .brand-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 40px;
        margin-right: 60px;

        @include desktop {
            transform: translateY(-370px);
        }

        @include tablet {
            flex-direction: row;
        }

        @include mobile {
            flex-direction: row;
        }

        span {
            display: inline-block;
            width: 240px;
            height: 85px;
            font-size: 20px;
            text-align: center;
            line-height: 85px;
            background-size: cover;
            background-position: center;

            @include tablet {
                width: 120px;
                height: 60px;
                font-size: 17px;
                line-height: 55px;
            }

            @include mobile {
                width: 120px;
                height: 60px;
                font-size: 17px;
                line-height: 55px;
            }
        }

        .labubu {
            background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking1.png?raw=true);
        }
        .crybaby {
            background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking5.png?raw=true);
        }
        .skullpanda {
            background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking2.png?raw=true);
            color: white;
        }
        .molly {
            background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking3.png?raw=true);
            color: white;
        }
        .pinogelly {
            background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking4.png?raw=true);
        }
        .add-category {
            background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMaskingPlus-btn.png?raw=true);
            width: 80px;
            height: auto;

            @include tablet {
                width: 50px;
            }
        }
        .dimoo {
            background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking1.png?raw=true);
        }
        .azura {
            background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking5.png?raw=true);
        }
        .hirono {
            background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking2.png?raw=true);
            color: white;
        }
        .hacipupu {
            background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking3.png?raw=true);
            color: white;
        }
        .barbie {
            background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking4.png?raw=true);
        }
    }

    .grid-wrapper {
        display: flex;
        flex-direction: column;
        width: 80%;
        box-sizing: border-box;

        @include tablet {
            width: 100%;
        }

        .grid-header {
            h2 {
                font-size: 4rem;
            }

            h2:nth-of-type(1) {
                margin-top: 15px;
            }

            h2:nth-of-type(2) {
                font-size: 6.4rem;
                margin-bottom: 20px;
            }
        }

        .grid-container {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: visible !important;
            // border: 5px solid $gray-30;

            &.swiper {
                overflow: hidden;
                position: relative;
            }

            .swiper-controls {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;
                width: 100%;
            }

            .swiper-pagination {
                position: relative !important;
                width: auto !important;
                bottom: auto !important;
                left: auto !important;
                margin: 0 15px;

                .swiper-pagination-bullet {
                    width: 35px;
                    height: 35px;
                    font-size: 2rem;
                    line-height: 24px;
                    background: transparent;
                    opacity: 0.5;
                    padding-top: 3px;

                    &-active {
                        opacity: 1;
                        font-size: 2.5rem;
                        color: $white;
                        background-color: #ff006f;
                    }
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                position: relative !important;
                top: 0 !important;
                margin: 0 15px !important;
                width: 30px !important;
                height: 30px !important;
                color: #000;

                &:after {
                    font-size: 24px;
                }
            }

            .grid-wrapper-inner {
                width: 100%;
            }

            .grid-page {
                display: grid !important;
                grid-template-columns: repeat(3, 1fr);
                grid-auto-rows: auto;
                width: 100%;
            }

            .grid-item {
                display: flex;
                flex-direction: column;
                position: relative;
                transition: transform 0.3s ease;

                overflow: hidden;

                // 각 아이템에 배경색 추가 (평소에는 안 보임)
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    background-color: var(--bg-color); // 배경색 추가
                    opacity: 0; // 기본적으로 보이지 않음
                    transition: opacity 0.3s;
                }

                .grid-item:hover::before {
                    opacity: 1; /* 호버 시 활성화 */
                }

                // &:hover {
                //     transform: translateY(-10px);
                // }

                img {
                    width: 100%;
                    object-fit: fill;
                    position: relative;
                    z-index: 2;
                    border: 1px solid $gray-30;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border: 1px solid $gray-30;
                    padding: 25px 20px 20px;
                    position: relative;
                    z-index: 2;
                    background-color: white;
                    height: 100%;

                    h3 {
                        font-size: 16px;
                        margin: 0 0 10px;
                        font-weight: normal;
                    }

                    p {
                        font-size: 14px;
                        color: $gray-70;
                    }
                }
            }

            .circle {
                position: absolute;
                width: 200px;
                height: 200px;
                background-color: blue; /* 테스트용 색상 */
                border-radius: 50%;
                pointer-events: none;
                opacity: 1; /* 항상 보이게 */
                z-index: 10000; /* 최상단 */
                transition: opacity 0.3s ease, background-color 0.3s ease;
            }

            .circle.hovered {
                opacity: 1; // 호버 시 보이도록 변경
            }
        }
    }
}

/* productDetail.html */
.product-slider-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    height: 100vh;

    /* 화면 크기가 작아질 경우 세로로 배치 */
    @media (max-width: 768px) {
        flex-direction: column;
    }

    .product-slider {
        width: 50%;
        height: 300px;
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative; /* Add this line */

        .swiper-wrapper {
            display: flex;
            align-items: center;
        }

        .swiper-slide {
            width: 200px; /* 기본 너비 */
            height: 200px; /* 기본 높이 */
            transition: all 0.3s; /* 부드러운 전환 효과 */
            opacity: 0.4; /* 기본 투명도 */
            transform: scale(0.8); /* 기본 크기 */
            position: relative;

            img {
                object-fit: contain;
                border-radius: 15px;
            }
        }

        .swiper-slide.active {
            width: 500px; /* 활성 슬라이드 너비 */
            height: 500px; /* 활성 슬라이드 높이 */
            opacity: 1; /* 활성 슬라이드 투명도 */
            transform: scale(1); /* 활성 슬라이드 크기 */
            z-index: 10; /* 활성 슬라이드가 다른 슬라이드 위에 표시 */
        }

        /* 네비게이션 버튼 위치 조정 */
        .swiper-button-prev,
        .swiper-button-next {
            color: black;
            background: rgba(255, 255, 255, 0.7);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute; /* absolute로 변경 */
            top: 50%; /* 상단 중앙에 배치 */
            transform: translateY(-50%); /* 수직 중앙 정렬 */
            z-index: 20; /* 네비게이션 버튼이 슬라이드 위에 표시 */
        }

        .swiper-button-prev {
            left: 10px; /* 슬라이더 왼쪽에 배치 */
        }

        .swiper-button-next {
            right: 10px; /* 슬라이더 오른쪽에 배치 */
        }

        .swiper-button-prev:hover,
        .swiper-button-next:hover {
            background: rgba(255, 255, 255, 1);
            color: #e02121;
        }

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            background: #ccc;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background: #e02121;
        }
    }

    .product-info {
        position: relative;
        width: auto;
        height: auto;
        padding: 40px;
        border: 5px solid $black;
        border-radius: 75px;

        h2 {
            font-size: 3.2rem;
        }
        p {
            font-size: 2.4rem;
        }

        .price {
            color: #e02121;
            font-weight: bold;
        }

        .product-details {
            margin-top: 30px;

            span {
                font-size: 2rem;
                font-weight: bold;
            }

            .quantity-control {
                display: flex;
                align-items: center;
                gap: 10px;

                p {
                    margin-right: 50px;
                }

                span {
                    width: 50px;
                    height: 40px;
                    border: 2px solid $black;
                    border-radius: 13px;
                    text-align: center;
                }

                button {
                    width: 40px;
                    padding: 5px;
                    border: 2px solid $black;
                    border-radius: 13px;
                    background-color: $white;
                    cursor: pointer;
                }

                .minus,
                .plus {
                    color: $black;
                }
            }

            .shipping-info {
                display: flex;
                align-items: center;
                margin-top: 30px;
                padding-bottom: 100px;

                span {
                    margin-right: 30px;
                }
            }

            .shipping {
                font-size: 1.3rem;
            }

            .shipping span {
                color: #e02121;
                font-size: 1.5rem;
            }
        }

        .buttons {
            width: 100%;
            position: absolute;
            left: 50%;
            display: flex;
            margin-top: 20px;
            border-top: 3px solid $black;

            .cart {
                width: 100%;
                background: gray;
                padding: 10px;
                flex: 1;
                border-radius: 0 0 0 75px;

                &:hover {
                    background: lightgray;
                }
            }

            .buy {
                width: 100%;
                background: #e02121;
                padding: 10px;
                color: white;
                flex: 1;
                border-radius: 0 0 75px 0;

                &:hover {
                    background: darkred;
                }
            }
        }
    }
}

.product-detail-section {
    padding: 20px; /* 패딩 추가 */

    h2 {
        font-size: 5.4rem;
        margin-bottom: 40px;
    }
    .detail-img {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}

.product-info-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 20px; /* 패딩 추가 */

    h2 {
        font-size: 5.4rem;
        margin-bottom: 40px;
    }
    table {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    tr {
        display: flex;
        justify-content: space-between;
        width: 500px;
        border-bottom: 0.5px solid $gray-30;
        margin-bottom: 20px;
        padding: 5px;
    }
}

.related-products-section {
    width: 100%;
    margin: 20px 0;
    padding: 20px;

    h2 {
        font-size: 3.2rem;
        display: flex;
        justify-content: center;
    }

    .related-products {
        position: relative;

        .swiper-slide {
            width: auto;

            .product-item {
                text-align: center;

                img {
                    max-width: 100%; /* 최대 너비 제한 */
                    height: auto;
                }

                h3 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .related-products .swiper-button-next,
    .related-products .swiper-button-prev {
        color: black;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .related-products .swiper-button-next:hover,
    .related-products .swiper-button-prev:hover {
        color: #e02121;
    }

    .related-products .swiper-button-prev {
        left: 10px;
    }

    .related-products .swiper-button-next {
        right: 10px;
    }
}
//productDetail.html 끝
