@import '../base/include';

body {
    background-color: var(--white);
}

.inner {
    position: relative;
    width: 100%;
    max-width: $grid;
    margin: 0 auto;
    padding: 0;
}

header {
    width: 100%;
    height: 100px;
    background-color: pink;
    margin-bottom: 4rem;
}

footer {
    width: 100%;
    height: 240px;
    margin-top: 80px;
    background-color: lightblue;
}

// productList.html 시작
.content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;

    @include tablet {
        flex-direction: column;
    }

    .brand-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 40px;
        margin-right: 60px;

        @include desktop {
            transform: translateY(-370px);
        }

        @include tablet {
            flex-direction: row;
        }

        @include mobile {
        }

        span {
            display: inline-block;
            width: 240px;
            height: 85px;
            font-size: 20px;
            text-align: center;
            line-height: 85px;
            background-size: cover;
            background-position: center;

            @include tablet {
                width: 120px;
                height: 60px;
                font-size: 17px;
                line-height: 55px;
            }

            @include mobile {
            }
        }

        .labubu {
            background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking1.png?raw=true);
        }
        .crybaby {
            background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking5.png?raw=true);
        }
        .skullpanda {
            background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking2.png?raw=true);
            color: white;
        }
        .molly {
            background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking3.png?raw=true);
            color: white;
        }
        .pinogelly {
            background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking4.png?raw=true);
        }
        .add-category {
            background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMaskingPlus-btn.png?raw=true);
            width: 80px;
            height: auto;

            @include tablet {
                width: 50px;
            }

            i {
                font-size: 5rem;
            }
        }
        .dimoo {
            background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking1.png?raw=true);
        }
        .azura {
            background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking5.png?raw=true);
        }
        .hirono {
            background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking2.png?raw=true);
            color: white;
        }
        .hacipupu {
            background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking3.png?raw=true);
            color: white;
        }
        .barbie {
            background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking4.png?raw=true);
        }
    }

    .grid-wrapper {
        display: flex;
        flex-direction: column;
        width: 80%;
        box-sizing: border-box;

        @include tablet {
            width: 100%;
        }

        .grid-header {
            h2 {
                font-size: 4rem;
            }

            h2:nth-of-type(1) {
                margin-top: 15px;
            }

            h2:nth-of-type(2) {
                font-size: 6.4rem;
                margin-bottom: 20px;
            }
        }

        .grid-container {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: visible !important;
            // border: 5px solid $gray-30;

            &.swiper {
                overflow: hidden;
                position: relative;
            }

            .swiper-controls {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;
                width: 100%;
            }

            .swiper-pagination {
                position: relative !important;
                width: auto !important;
                bottom: auto !important;
                left: auto !important;
                margin: 0 15px;

                .swiper-pagination-bullet {
                    width: 35px;
                    height: 35px;
                    font-size: 2rem;
                    line-height: 24px;
                    background: transparent;
                    opacity: 0.5;
                    padding-top: 3px;

                    &-active {
                        opacity: 1;
                        font-size: 2.5rem;
                        color: $white;
                        background-color: #ff006f;
                    }
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                position: relative !important;
                top: 0 !important;
                margin: 0 15px !important;
                width: 30px !important;
                height: 30px !important;
                color: #000;

                &:after {
                    font-size: 24px;
                }
            }

            .grid-wrapper-inner {
                width: 100%;
            }

            .grid-page {
                display: grid !important;
                grid-template-columns: repeat(3, 1fr);
                grid-auto-rows: auto;
                width: 100%;
            }

            .grid-item {
                display: flex;
                flex-direction: column;
                position: relative;
                transition: transform 0.3s ease;

                overflow: hidden;

                // 각 아이템에 배경색 추가 (평소에는 안 보임)
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    background-color: var(--bg-color); // 배경색 추가
                    opacity: 0; // 기본적으로 보이지 않음
                    transition: opacity 0.3s;
                }

                .grid-item:hover::before {
                    opacity: 1; /* 호버 시 활성화 */
                }

                // &:hover {
                //     transform: translateY(-10px);
                // }

                img {
                    width: 100%;
                    object-fit: fill;
                    position: relative;
                    z-index: 2;
                    border: 1px solid $gray-30;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border: 1px solid $gray-30;
                    padding: 25px 20px 20px;
                    position: relative;
                    z-index: 2;
                    background-color: white;
                    height: 100%;

                    h3 {
                        font-size: 16px;
                        margin: 0 0 10px;
                        font-weight: normal;
                    }

                    p {
                        font-size: 14px;
                        color: $gray-70;
                    }
                }
            }

            .circle {
                position: absolute;
                width: 200px;
                height: 200px;
                background-color: blue; /* 테스트용 색상 */
                border-radius: 50%;
                pointer-events: none;
                opacity: 1; /* 항상 보이게 */
                z-index: 10000; /* 최상단 */
                transition: opacity 0.3s ease, background-color 0.3s ease;
            }

            .circle.hovered {
                opacity: 1; // 호버 시 보이도록 변경
            }
        }
    }
}

// productList.html 끝

//productDetail.html 시작

.product-detail-section {
    h2 {
        font-size: 5.4rem;
        margin-bottom: 40px;
    }
    .detail-img {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}

.product-info-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    h3 {
        font-size: 5.4rem;
        margin-bottom: 40px;
    }
    table {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    tr {
        display: flex;
        justify-content: space-between;
        width: 500px;
        border-bottom: 0.5px solid $gray-30;
        margin-bottom: 20px;
        padding: 5px;
    }
}

.related-products-section {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;

    h3 {
        font-size: 3.2rem;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-pagination {
        position: relative;
        margin-top: 10px;
    }
}

//productDetail.html 끝
