header {
    width: 100%;
    height: 100px;
    background-color: pink;
    margin-bottom: 4rem;
}

footer {
    width: 100%;
    height: 240px;
    margin-top: 80px;
    background-color: lightblue;
}

// body,
// div,
// dl,
// dt,
// dd,
// ul,
// ol,
// li,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// pre,
// code,
// form,
// fieldset,
// legend,
// textarea,
// p,
// blockquote,
// th,
// td,
// input,
// select,
// button,
// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

// fieldset,
// img {
//     border: 0 none;
// }

// body {
//     position: relative;
//     height: 100vh;
//     -webkit-text-size-adjust: none;
// }

// .inner {
//     position: relative;
//     max-width: 1340px;
//     width: 100%;
//     margin: 0 auto;
//     padding: 0 16px;
//     box-sizing: border-box;

//     @media (min-width: 768px) {
//         // 태블릿
//         padding: 0 24px;
//     }
// }

.content-wrapper {
    display: flex;

    flex-direction: column;

    @media (min-width: 1024px) {
        flex-direction: row;
    }
}

.brand-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    // width: 100%;
    margin-bottom: 40px;

    @media (min-width: 1024px) {
        width: 240px;
        margin-right: 60px;
        transform: translateY(-220px);
    }

    span {
        display: inline-block;
        width: 240px;
        height: 85px;
        font-size: 20px;
        text-align: center;
        line-height: 85px;
        background-size: cover;
        background-position: center;
    }

    .labubu {
        background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking1.png?raw=true);
    }
    .crybaby {
        background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking5.png?raw=true);
    }
    .skullpanda {
        background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking2.png?raw=true);
        color: white;
    }
    .physique {
        background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking3.png?raw=true);
        color: white;
    }
    .pinogelly {
        background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMasking4.png?raw=true);
    }
    .but {
        background-image: url(https://github.com/hyeonky/dp-static/blob/main/popmart/gnb/bgMaskingPlus-btn.png?raw=true);
        width: 93px;
    }
}

.grid-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;

    .grid-header {
        h2 {
            font-size: 40px;
            margin: 0;
        }

        h2:nth-of-type(1) {
            margin-top: 20px;
        }

        h2:nth-of-type(2) {
            font-size: 64px;
            margin-bottom: 20px;
        }
    }

    .grid-container {
        width: 100%;
        position: relative;
        overflow: visible !important;

        &.swiper {
            overflow: hidden;
            position: relative;
            margin-bottom: 50px;
        }

        .swiper-pagination {
            position: relative;
            margin-top: 30px;

            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                background-color: #ddd;
                opacity: 1;

                &-active {
                    background-color: #000;
                }
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            color: #000;

            &:after {
                font-size: 24px;
            }
        }

        .grid-wrapper-inner {
            width: 100%;
        }

        .grid-page {
            display: grid !important;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, auto);
            gap: 20px;
            width: 100%;
        }

        .grid-item {
            display: flex;
            flex-direction: column;
            height: auto;

            justify-content: space-between;
            padding: 15px;
            transition: transform 0.3s ease;

            &:hover {
                transform: translateY(-10px);
            }

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
                margin-bottom: 15px;
            }

            div {
                h3 {
                    font-size: 16px;
                    margin: 0 0 8px 0;

                    font-weight: normal;
                }

                p {
                    font-size: 14px;
                    color: #666;
                    margin: 0;
                }
            }
        }

        // .circle {
        //     display: block;
        //     width: 200px;
        //     height: 200px;
        //     position: absolute;
        //     border-radius: 50%;
        //     pointer-events: none;
        //     mix-blend-mode: difference;
        //     transform: translate(-50%, -50%);
        //     opacity: 0;
        //     transition: opacity 0.2s ease-in-out;
        // }

        // .circle.hovered {
        //     background-color: yellow;
        // }
    }
}
