@import '../base/include';
#register-body {
  padding-top: 150px;
}

.container {
  width: 100%;
  height: 100%;
  background: #ffba4a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 18px;
  @include mobileMore {
    padding: 80px;
  }
}

.registerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  width: 100%;
}

.registerWrap {
  width: 100%;
  max-width: 504px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.radio-group {
  display: flex;
  gap: 38px;
  font-size: 14px;
  .authCont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .authBox {
      display: flex;
      gap: 25px;
    }
  }
  label {
    display: flex;
    align-items: center;
    user-select: none;
    font-size: 14px;
    gap: 3px;
    @include mobileMore {
      font-size: 16px;
    }
  }
}

.line {
  display: block;
  &::after {
    content: '';
    margin: 10px 0;
    width: 100%;
    height: 2px;
    background-color: $black;
    display: block;
    @include mobileMore {
      height: 3px;
    }
  }
}

.inputCont {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  .normalBox {
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: 16px;
    border: 3px solid $black;
    text-align: left;
    padding-left: 15px;
    font-size: 14px;
    @include mobileMore {
      height: 55px;
      font-size: 16px;
    }
  }
  .shortBoxCont {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .shortBox {
    display: flex;
    width: 60%;
  }
  .btnShort {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    @include mobileMore {
      transform: translate(-50%, -50%);
    }
  }
}
.birthWrap {
  display: flex;
  gap: 30px;
  .birthTit {
    font-size: 18px;
    font-weight: bold;
    @include mobileMore {
      font-size: 20px;
    }
  }
  .birthCont {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .calendar-group {
    display: flex;
    gap: 30px;
  }
  label {
    display: flex;
    gap: 5px;
    font-size: 14px;
    @include mobileMore {
      font-size: 16px;
    }
    span {
      display: flex;
      line-height: 1.3;
    }
  }
}

.birthDateCont {
  .inputDate {
    width: 55px;
    height: 50px;
    background: $white;
    border: 3px solid $black;
    border-radius: 16px;
    padding-left: 10px;
    @include mobileMore {
      height: 55px;
    }
  }
  .year {
    width: 80px;
  }
  span {
    font-size: 14px;
    text-align: center;
    @include mobileMore {
      font-size: 16px;
    }
  }
}
p {
  font-size: 14px;
  @include mobileMore {
    font-size: 16px;
  }
}
.registerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  width: 100%;
  height: 50px;
  background: $black;
  color: $white;
  border-radius: 16px;
  border: 3px solid $black;
  text-align: center;
  font-size: 18px;
  @include mobileMore {
    height: 55px;
  }
  &:hover {
    background: #333;
  }
}

// 공통 스타일
.contTit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  border-radius: 16px;
  border: 3px solid $black;
  background-color: #dde1e6;
  padding-left: 15px;
  @include mobileMore {
    height: 55px;
  }
  h2 {
    font-size: 18px;
    text-align: center;
    @include mobileMore {
      font-size: 20px;
    }
  }
}

.authBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background: black;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  padding: 8px;
  border: none;
  cursor: pointer;
  @include mobileMore {
    font-size: 14px;
  }
  &:hover {
    background: #333;
  }
}

.radio {
  display: none;
}
.checkMark {
  display: block;
  margin-left: 5px;
  width: 18px;
  height: 18px;
  border: 3px solid #555;
  background: $white;
  border-radius: 3px;
  margin-right: 5px;
  vertical-align: middle;
  position: relative;
  @include mobileMore {
    width: 20px;
    height: 20px;
  }
}
input:checked + .checkMark {
  background-color: #ff4e4e;
  border-color: $point;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9px;
    height: 9px;
    background-color: $point;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    @include mobileMore {
      width: 10px;
      height: 10px;
    }
  }
}

// 오류 메세지
.error-message-register {
  color: $point;
  visibility: hidden;
  display: block;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0s 0.5s;
  font-size: 14px;
  font-weight: bold;
  @include mobileMore {
    font-size: 16px;
  }
}

// 오류 메세지 등장
.error-message-register.visible {
  visibility: visible;
  padding-left: 10px;
  opacity: 1;
  transform: translateY(-8px);
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s 0s;
}
