.footer {
  background-color: #e3e3e3;
  color: #333;
  padding: 180px 200px 22px;
  font-size: 14px;

  .footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  h2 {
    margin: 0;
    font-size: 32px;
    color: white;
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;

    p {
      margin: 5px 0;
      font-size: 14px;
      color: #bfbfbf;
    }
  }

  .footer-sns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-top: 10px;
  }

  .footer-sns img {
    width: 24px;
    height: 24px;
  }

  .footer-text {
    width: 100%;
    text-align: left;

    p {
      padding-bottom: 4px;
      color: #bfbfbf;
    }
  }

  .footer-bottom {
    margin-top: 20px;
    text-align: center;

    img {
      height: 30px;
    }

    p {
      margin-top: 16px;
      font-size: 13px;
      color: #bfbfbf;
    }
  }

  @media (max-width: 1024px) {
    padding: 100px 24px 22px;
    font-size: 14px;

    .footer-top {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      text-align: left;
    }

    h2 {
      font-size: 28px;
    }

    .footer-info {
      align-items: flex-end;
      text-align: right;
    }

    .footer-sns {
      justify-content: flex-end;
    }

    .footer-text {
      text-align: left;
    }

    .footer-bottom {
      margin-top: 30px;

      p {
        margin-top: 10px;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 80px 16px 22px;
    font-size: 10px;

    .footer-top {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      text-align: left;
    }

    h2 {
      font-size: 24px;
    }

    .footer-info {
      align-items: flex-end;
      text-align: right;
      p {
        font-size: 10px;
      }
    }

    .footer-sns {
      justify-content: center;
      gap: 12px;

      img {
        width: 16px;
        height: 16px;
      }
    }

    .footer-text {
      text-align: left;
    }

    .footer-bottom {
      margin-top: 15px;
      p {
        font-size: 8px;
      }
      img {
        height: 20px;
      }
    }
  }
}
