.footer {
  background-color: #f0f0f0;
  padding: 40px 20px;
  text-align: center;

  &__info,
  &__contact,
  &__copyright {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
  }

  p {
    font-size: 14px;
    color: #666;
  }
}
