.footer {
  background-color: #e3e3e3;
  color: #333;
  padding: 180px 200px 22px;
  font-size: 14px;

  .footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  h2 {
    margin: 0;
    align-self: flex-start;
    font-size: 32px;
    color: white;
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    p {
      margin: 5px 0;
      font-size: 14px;
      color: #bfbfbf;
    }

    img {
      width: 24px;
      height: 24px;
      margin-top: 10px;
    }

    .footer-text {
      width: 100%;
      p {
        padding-bottom: 4px;
        color: #bfbfbf;
      }
    }

    .footer-bottom {
      margin-top: 20px;
      text-align: center;

      img {
        height: 30px;
      }

      p {
        margin-top: 16px;
        font-size: 13px;
        color: #bfbfbf;
      }
    }
  }
}
